<nav
  class="montserrat-font bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 w-full p-6 sticky top-0 flex items-center justify-between">
  <div class="flex-grow flex justify-center">
    <ul class="flex flex-wrap items-center justify-center space-x-0 lg:space-x-8 space-y-2 lg:space-y-0">
      <li class="flex items-center justify-center">
        <button (click)="scrollToSection('about-myself')"
          class="py-2 px-4 rounded font-bold text-sm lg:text-base hover:bg-gray-300 dark:hover:bg-gray-700">Sobre
          mí</button>
      </li>
      <li class="flex items-center justify-center">
        <button (click)="scrollToSection('my-skills')"
          class="py-2 px-4 rounded font-bold text-sm lg:text-base hover:bg-gray-300 dark:hover:bg-gray-700">Habilidades</button>
      </li>
      <li class="flex items-center justify-center">
        <button (click)="scrollToSection('work-experience')"
          class="py-2 px-4 rounded font-bold text-sm lg:text-base hover:bg-gray-300 dark:hover:bg-gray-700">Experiencia</button>
      </li>
      <li class="flex items-center justify-center">
        <button (click)="scrollToSection('contact')"
          class="py-2 px-4 rounded font-bold text-sm lg:text-base hover:bg-gray-300 dark:hover:bg-gray-700">Contacto</button>
      </li>
    </ul>
  </div>
</nav>