<footer class="bg-gray-800 text-gray-100 py-8">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <!-- Logo o Nombre de la Aplicación -->
            <div class="text-center md:text-left">
                <h2 class="text-2xl font-semibold">PortFolio</h2>
            </div>
            <!-- Enlaces de Navegación -->
            <div class="text-center">
                <h3 class="text-xl font-semibold">Quick Links</h3>
                <ul class="mt-2 space-y-2">
                    <li><a href="#" class="hover:underline">Home</a></li>
                    <li><a href="#" class="hover:underline">About</a></li>
                    <li><a href="#" class="hover:underline">Services</a></li>
                    <li><a href="#" class="hover:underline">Contact</a></li>
                </ul>
            </div>
            <!-- Información de Contacto / Redes Sociales -->
            <div class="text-center md:text-right">
                <h3 class="text-xl font-semibold">Links</h3>
                <ul class="mt-2 space-y-2">
                    <li><a href="https://github.com/sebastianvr" target="_blank" class="hover:underline">GitHub</a></li>
                    <li><a href="https://discord.com/users/sebastian_vr_" target="_blank"
                            class="hover:underline">Discord</a></li>
                    <li><a href="https://www.linkedin.com/in/sebastian-vidal-ramirez" target="_blank"
                            class="hover:underline">Linkedin</a></li>
                </ul>
            </div>
        </div>
        <div class="montserrat-font mt-8 border-t border-gray-700 pt-4 text-center">
            <p>&copy; 202X Sebastian's Portfolio. All rights is not reserved.</p>
        </div>
    </div>
</footer>