<div class="p-9 bg-gray-900 dark:bg-gray-800 rounded-lg">
    <div class="text-left mb-6">
        <h2 class="font-mono sm:text-xl md:text-2xl lg:text-3xl font-semibold text-white dark:text-gray-300">Experiencia
            laboral
        </h2>
    </div>

    <div class="container m-4 dark:bg-gray-800">
        <ol class="montserrat-font relative border-l border-gray-200 dark:border-gray-700">
            <li class="mb-10 ml-4">
                <div
                    class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Agosto 2021</time>
                {{' '}}<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"> - Octubre
                    2021</time>


                <h3 class="text-md sm:text-base md:text-md lg:text-xl font-bold text-white">
                    Codefire, <small>Contrato de práctica #1</small>
                </h3>

                <span
                    class="pl-3 text-sm sm:text-sm md:text-md lg:text-xl font-semibold text-gray-500 dark:text-gray-400">
                    Cargo: Ingeniero de Software.
                </span>
                <ul class="list-disc pl-10 mt-3 space-y-2 mb-2">
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Programación frontend con Angular y TypeScript.
                    </li>
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Desarrollo con sistema de control de versiones Git - GitHub.
                    </li>
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Desarrollo bajo metodologías ágiles.
                    </li>
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Análisis de interfaces gráficas.
                    </li>
                </ul>
                <a href="https://codefire.cl/inicio" target="_blank" rel="noopener noreferrer"
                    class="group hover:bg-gray-400 hover:border-gray-700 transition duration-300 ease-in-out">
                    <img src="assets/svgs/codefire.svg"
                        class="float-end w-20 sm:w-20 md:w-40 lg:w-45 mx-4 max-w-full object-contain border rounded-full px-3 py-1 group-hover:bg-gray-500 group-hover:border-gray-400"
                        alt="">
                </a>

            </li>

            <li class="mb-10 ml-4">
                <div
                    class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Enero 2023</time>
                {{' '}}<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"> - Marzo
                    2023</time>
                <h3 class="text-md sm:text-base md:text-md lg:text-xl font-bold text-white">
                    Codefire, <small>Contrato de práctica #2</small></h3>
                <span
                    class="pl-3 text-sm sm:text-sm md:text-md lg:text-xl font-semibold text-gray-500 dark:text-gray-400">
                    Cargo: Ingeniero de Software.
                </span>
                <ul class="list-disc pl-10 mt-3 space-y-2 mb-2">
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Programación frontend con Angular y TypeScript.
                    </li>
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Desarrollo con sistema de control de versiones Git - GitHub.
                    </li>
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Desarrollo bajo metodologías ágiles.
                    </li>
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Análisis de interfaces gráficas.
                    </li>
                </ul>
                <a href="https://codefire.cl/inicio" target="_blank" rel="noopener noreferrer"
                    class="group hover:bg-gray-400 hover:border-gray-700 transition duration-300 ease-in-out">
                    <img src="assets/svgs/codefire.svg"
                        class="float-end w-20 sm:w-20 md:w-40 lg:w-45 mx-4 max-w-full object-contain border rounded-full px-3 py-1 group-hover:bg-gray-500 group-hover:border-gray-400"
                        alt="">
                </a>
            </li>
            <li class="mb-10 ml-4">
                <div
                    class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700">
                </div>
                <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Abril 2023</time>
                {{' '}}<time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"> - Marzo
                    2024</time>
                <h3 class="text-md sm:text-base md:text-md lg:text-xl font-bold text-white">
                    Codefire, <small>Jornada parcial</small></h3>
                <span
                    class="pl-3 text-sm sm:text-sm md:text-md lg:text-xl font-semibold text-gray-500 dark:text-gray-400">
                    Cargo: Ingeniero de Software.
                </span>
                <ul class="list-disc pl-10 mt-3 space-y-2 mb-2">
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Migración de un proyecto en Angular + Firebase.
                    </li>
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Programación frontend con Angular y TypeScript.
                    </li>
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Programación backend con NestJs + MongoDB.
                    </li>
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Desarrollo con sistema de control de versiones Git - GitHub.
                    </li>
                    <li class="text-xs sm:text-xs md:text-sm lg:text-md text-gray-300">
                        Desarrollo bajo metodologías ágiles.
                    </li>
                </ul>
                <a href="https://codefire.cl/inicio" target="_blank" rel="noopener noreferrer"
                    class="group hover:bg-gray-400 hover:border-gray-700 transition duration-300 ease-in-out">
                    <img src="assets/svgs/codefire.svg"
                        class="float-end w-20 sm:w-20 md:w-40 lg:w-45 mx-4 max-w-full object-contain border rounded-full px-3 py-1 group-hover:bg-gray-500 group-hover:border-gray-400"
                        alt="">
                </a>
            </li>
        </ol>
    </div>
</div>