<div class="min-h-screen bg-gray-100 dark:bg-gray-900">
  <component-dark-button (toggleDarkModeEvent)="toggleDarkMode($event)"></component-dark-button>
  <component-sidenav></component-sidenav>
  <main class="p-6">
    <div class="container mx-auto">
      <page-about-myself id="about-myself"></page-about-myself>
      <br>
      <page-work-experience id="work-experience"></page-work-experience>
      <br>
      <page-my-skills id="my-skills"></page-my-skills>
      <br>
      <page-contact id="contact"></page-contact>
    </div>
  </main>
  <component-footer></component-footer>
  <router-outlet></router-outlet>
</div>