<div *ngIf="isVisible"
    class="fixed inset-0 flex items-end justify-center px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end z-50 toast-transition">
    <div [ngClass]="{'bg-green-100': type === 'success', 'bg-red-100': type === 'error'}"
        class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto">
        <div class="rounded-lg shadow-sm overflow-hidden">
            <div class="p-4">
                <div class="flex items-center">
                    <!-- Icon tick or cross -->
                    <div class="flex-shrink-0">
                        <ng-container *ngIf="type === 'success'">
                            <!-- Icono de éxito -->
                            <svg class="h-6 w-6 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5 13l4 4L19 7" />
                            </svg>
                        </ng-container>
                        <ng-container *ngIf="type === 'error'">
                            <!-- Icono de error -->
                            <svg class="h-6 w-6 text-red-400" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </ng-container>
                    </div>

                    <!-- Message information -->
                    <div class="ml-3 w-0 flex-1">
                        <p class="text-sm leading-5 font-medium"
                            [ngClass]="{'text-green-800': type === 'success', 'text-red-800': type === 'error'}">
                            {{ message }}
                        </p>
                    </div>


                    <div class="ml-4 my-2 flex-shrink-0 flex" (keydown)="onKeyDown($event)">
                        <button (click)="hideToast()"
                            class="inline-flex text-gray-400 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150">
                            <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M14.293 5.293a1 1 0 011.414 1.414l-8 8a1 1 0 01-1.414-1.414l8-8a1 1 0 011.414 0z"
                                    clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                    d="M5.293 5.293a1 1 0 00-1.414 1.414l8 8a1 1 0 001.414-1.414l-8-8a1 1 0 00-1.414 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>


                </div>
            </div>
        </div>