/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RobotoMono';
  src: url('../src/assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}


@font-face {
  font-family: 'Montserrat';
  src: url('../src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

.roboto-font {
  font-family: 'RobotoMono';
}

.montserrat-font {
  font-family: 'Montserrat';
}